<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <% include blocks/scripts.ejs %>
    <title>ExampleSite</title>
</head>
<body>
    <% include blocks/nav.ejs %>
    <h1 style="text-align: center">Main page</h1>
</body>
</html>