<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <% include blocks/scripts.ejs %>
    <title>Вход</title>
</head>
<body>
    <% include blocks/nav.ejs %>

    <h2 style="text-align: center">Вход на сайт</h2>

    <form method="POST" action="/login">
        Email:<br>
        <input type="text" name="email"><br>
        Пароль:<br>
        <input type="password" name="password"><br><br>
        <input id="login" type="button" value="Вход">

    </form>
</body>
</html>
