
<div id="single_news_flex_container">
    <div id="single_news_title">
            <% ArrayNews[i].title %>
    </div>
    <div id="single_news_object">
            <% main_news.text %>
    </div>
</div>

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <% include blocks/scripts.ejs %>
    <title><%= main_news.title %></title>
</head>
<body>
    <% include blocks/nav.ejs %>
    <div id="single_news_flex_container">
        <div id="single_news_title">
                <% main_news.title %>
        </div>
        <div id="single_news_object">
                <% main_news.text %>
        </div>
    </div>
</body>
</html>
-->