<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <% include blocks/scripts.ejs %>
    <script src="/assets/scripts/ckeditor/ckeditor.js"></script>
    <script src="/assets/scripts/writearticle.js"></script>
    <title>Написать статью</title>
</head>
<body>
    <% include blocks/nav.ejs %>

    <div id="write_article_flex_container">
            <p>Вставьте изображение для заголовка статьи</p>
        <div id="editor-for-image">
            <p name="content"></p>
        </div>

        <p>Напишите заголовок и текст статьи. После нажмите "Опубликовать"</p>
        <div id="word-editor">

          <div id="editor-for-title">
              <p name="content"></p>
          </div>

          <div id="toolbar-container"></div>

          <div id="editor">
              <p name="content"></p>
          </div>

        </div>


        <input id="save_html_code" type="button" value="Опубликовать">
    </div>

</body>
</html>
