<nav>
    <ul class="menu">
        <li><a href="news">Новости</a></li>
        <li><a href="article">Статьи</a></li>
        <li><a href="video">Видео</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Написать</a>
          <div class="dropdown-content">
            <a href="writenews">Написать новость</a>
            <a href="writearticles">Написать статью</a>
            <a href="writevideo">Выложить видео</a>
          </div>
        </li>
        <li style="float: right"><a href="signin">Регистрация</a></li>
        <li style="float: right; border-left: 1px solid white;"><a href="login">Войти</a></li>
    </ul>
</nav>
