<nav>
    <ul class="menu">
        <li><a href="news">News</a></li>
        <li><a href="#">Articles</a></li>
        <li><a href="#">Videos</a></li>
        <li><a href="writenews">Write news</a></li>
        <!--<li><a href="signin">Sign in</a></li>
        <li><a href="login">Log in</a></li>-->
    </ul>
</nav>