/*Menu area*/
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: #000722;
}
.menu li {
    float: left;
}

.menu li a {
    display: block;
    text-decoration: none;

    padding: 10px 15px;
    border-right: 1px solid white;


    text-align: left;
}

li a:hover {
    background-color: #000759;
}

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: grey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

li a, .dropbtn {
    color: white;
}
/*All news area*/
#flex_container {
    display: flex;
    flex-direction: row;
    padding: 5vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1 1 1 1;
}

#header_of_news_page {
    flex-basis: 100%;
    height: 30vh;
    font-size: 45px;
}

.news_blog {
    background-color: white;
    flex-basis: 17%;
    padding: 10px;
    margin: 5vh;
    box-shadow: 0 0 10px rgb(0, 0, 0)
}

#news_img {
    width: 100%;
}

#news_title {
    font-size: 15px;
    font-weight: bolder;
    color: rgb(39, 39, 39);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#news_text {
    font-size: 14px;
    font-weight: lighter;
    color:rgb(65, 65, 65);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#news_date {
    font-size: 10px;
    font-weight: lighter;
    color:rgb(87, 87, 87);
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.news_whole_text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5vh;
    color: pink;
    text-align: justify;
    text-justify: inter-word;
}

.news_whole_text > a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5vh;
    color: black;
}

/*Single news area*/
#single_news_flex_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    padding: 5vh;
    flex-basis: 80%;

    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
}

#single_news_flex_container a {
  color: #548eaa;
}

/*Write news styles*/
#write_news_flex_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin-top: 5vh;
}

#word-editor {
    width: 170vh;
}

#editor-for-image {
    width: 50vh;
    height: 30vh;
    border: 2px solid rgba(128, 128, 128, 0.295);
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

#editor-for-title {
    width: auto;
    border: 2px solid rgba(128, 128, 128, 0.295);
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

#toolbar-container {
    width: auto;
}

#editor {
    width: auto;
    min-height: 50vh;
    border: 2px solid rgba(128, 128, 128, 0.295);
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

/*Main styles*/
body {
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
}
